@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* Transition height */
.transition-height {
  transition: height 0.3s ease;
}
/* Customize input email */
input.customized + label {
  transition: top 0.2s ease;
}
input.customized:focus {
  border-color: black;
  transition: border 0.3s ease;
}
input.customized:focus + label {
  color: black;
}
input.customized:focus + label,
input.customized:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  background: #fff;
  padding-inline: 4px;
}

/* Customize input control */
input.input-control ~ label,
textarea.textarea-control ~ label {
  color: rgb(97 126 140);
}
input.input-control:focus ~ label,
textarea.textarea-control:focus ~ label {
  color: #212121;
}
input.input-control + div,
textarea.textarea-control + div {
  right: 50%;
  border: 0px solid #000;
  transition: right 0.3s ease;
}
input.input-control:focus + div,
textarea.textarea-control:focus + div {
  right: -50%;
  border-width: 1px;
}
