@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-height {
  transition: height 0.3s ease;
}

input.customized + label {
  transition: top 0.2s ease;
}
input.customized:focus {
  border-color: black;
  transition: border 0.3s ease;
}
input.customized:focus + label {
  color: black;
}
input.customized:focus + label,
input.customized:not(:placeholder-shown) + label {
  top: 0;
  font-size: 12px;
  background: #fff;
  padding-inline: 4px;
}
